<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ AppName }}{% endblock %}</title>
    </head>
    <body>
        <h1>{{ AppName }}</h1>

        {% block body %}
        {% endblock %}
        
    </body>
</html>