<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ AppName }}{% endblock %}</title>
    </head>
    <body>
        <h1>{{ AppName }}</h1>

        {% block body %}
        {% endblock %}

		<p>
			{# On affiche tous les messages flash dont le nom est « info » #}
			{% for message in app.session.flashbag.get('info') %}
				<p style="color: grey;">Info flash: {{ message }}</p>
			{% endfor %}
		</p>

    </body>
</html>