{% extends "Rap2hCookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - A propos{% endblock %}

{% block body %}

            <div class="starter-template" style="padding: 50px 15px; text-align: center;">
                <p>Emmanuelle et raphael ont inventé cette merveille
                 </p>
            </div>
{% endblock %}