{% extends "Rap2hCookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
            <div class="starter-template well" > <!-- style="padding: 50px 15px; text-align: center;" -->
            <form class="form-inline" role="form">
            	<h2>Tu fais quoi à manger ?</h2>
                <p style="padding: 15px 50px;">
                    Aujourd'hui, tu vas faire
                    <select class="form-control" style="width: 120px;">
                    	<option>un plat</option>
                    	<option>un dessert</option>
                    </select>


                    
{#
<div class="btn-group">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    un plat
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#">un plat</a></li>
    <li><a tabindex="-1" href="#">un dessert</a></li>
  </ul>
</div>
#}
					
                    pour
                    <select class="form-control" style="width: 70px;">
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
                    </select>
                    personnes <a href="{{ path('CookingStart') }}" class="btn btn-success" role="button">Go &raquo;</a>
                </p>
      		</form>
            </div>
{% endblock %}