{% extends "Rap2hCookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <div class="container">
            <div class="starter-template" style="padding: 50px 15px; text-align: center;">
                <p>
                    Aujourd'hui, tu vas faire
                    <button type="button" class="btn btn-primary">un plat</button>
                    <button type="button" class="btn btn-default">un dessert</button>
                    pour
                    <button type="button" class="btn btn-default">2</button>
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-primary">4</button>
                    <button type="button" class="btn btn-default">5</button>
                    <button type="button" class="btn btn-default">6</button>
                    personnes <a href="{{ path('CookingStart') }}" class="btn btn-success" role="button">Go &raquo;</a>
                </p>
            </div>
{% endblock %}